@await Html.PartialAsync("/Views/_ViewImports.cshtml")

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FunFik</title>
    @if (Context.Request.Cookies["theme"] == "dark")
    {
        <link rel="stylesheet" href="~/css/rate.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site-dark.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-editable.css">
        <link rel="stylesheet" href="~/dist/tagify.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/rate.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-editable.css">
        <link rel="stylesheet" href="~/dist/tagify.css" />
    }

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        @if (Context.Request.Cookies["theme"] == "dark")
                        {
                            <li class="nav-item">
                                <a id="theme" class="btn btn-primary" asp-route-returnUrl="@Context.Request.Path" asp-action="ChangeTheme" asp-controller="Theme">@Localizer["Dark"]</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a id="theme" class="btn btn-primary" asp-route-returnUrl="@Context.Request.Path" asp-action="ChangeTheme" asp-controller="Theme">@Localizer["Light"]</a>
                            </li>
                        }
                        <li class="nav-item">
                            @await Html.PartialAsync("_SetLanguagePartial")
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" asp-action="Search" asp-controller="Search">
                                <input style="margin-right:5px" class="form-control" type="text" name="search" placeholder="@Localizer["BtnSearchPlaceholder"]">
                                <button class="btn btn-outline-secondary btn-sm" id="search" asp-action="Search" asp-controller="Search" type="submit">@Localizer["BtnSearch"]</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">            
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FunFik
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/eip.js"></script>
    <script src="~/dist/tagify.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script></script>
</body>
</html>
