@await Html.PartialAsync("/Views/_ViewImports.cshtml")

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminPage">@Localizer["Admin"]</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-route-Id="@User.Identity.Name" asp-action="PersonalPage" asp-controller="Home">@Localizer["Cab"]</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">@Localizer["Logout"]</a>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
        </li>
    }
</ul>
